section {
  font-family: 'Prompt', sans-serif;
}
.header {
  background-color: #9e1b34;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  display: block;
  margin: auto;
  width: 40%;
}
.menu {
  background-color: #7E051D;
  color: white;
  text-align: center;
}
.heart {
  color: red;
}
.made {
  color: white;
}
.delivery {
  width: 50%;
  margin-top: 50px;
}
.footer {
  text-align: center;
  color: white;
  height: 25vh;
  background: -webkit-linear-gradient(-135deg, rgb(158, 27, 52), rgb(86, 0, 17));
  background: linear-gradient(-135deg, rgb(158, 27, 52), rgb(86, 0, 17));
}
.footer a {
  margin-top: 50px;
  box-shadow: none;
  background: none;
  margin-left: 30px;
  text-align: center;
}
.button-styling {
  display: block;
  margin: auto;
}
hr.small {
    max-width: 100px;
}
.circle-button {
  border-radius: 50%;
  width: 290px;
  height: 290px;
  color: white;
  background-color: #3498db;
  border: 10px solid #BA3A53;
}
.img-circle {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid #BA3A53;
}
.img-circle img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}


.footer span {
  font-size: 2em;
  color: white;
  -webkit-transition: color ease .4s;
          transition: color ease .4s;
}

.footer span:hover {
  color: steelblue;
}

nav.navbar{
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

nav.navbar.transparent {
  background-color:rgba(0,0,0,0);
}
