section {
  font-family: 'Prompt', sans-serif;
}
.header {
  background-color: #9e1b34;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  display: block;
  margin: auto;
  width: 40%;
}
.menu {
  background-color: #7E051D;
  color: white;
  text-align: center;
}
.contact {
  color: white;
  background: -webkit-linear-gradient(-135deg, rgb(158, 27, 52), rgb(86, 0, 17));
  background: linear-gradient(-135deg, rgb(158, 27, 52), rgb(86, 0, 17));
}
.contact a {
  margin-top: 50px;
  box-shadow: none;
  background: none;
  margin-left: 30px;
  text-align: center;
}
.button-styling {
  display: block;
  margin: auto;
}
hr.small {
    max-width: 100px;
}
.food-box {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 450px;
  height: 361px;
}
.wings {
  height: 80%;
  width: 80%;
}
.contact span {
  font-size: 2em;
  color: white;
  -webkit-transition: color ease .4s;
          transition: color ease .4s;
}

.contact span:hover {
  color: steelblue;
}

nav.navbar{
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

nav.navbar.transparent {
  background-color:rgba(0,0,0,0);
}
